/*==== Colors ====*/
$bg-white: white;
$bg-gray: #e5e7eb;

$orange-200: #fed7aa;
$orange-300: #fdba74;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-700: #334155;

$gray-600: #4b5563;
$gray-900: #111827;

$indigo-500: #6366f1;

/*==== Colors for Dark ====*/
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;

/*==== Border Radius ====*/
$rounded: .25rem;
$rounded-lg: .5rem;
$rounded-xl: .75rem;
$rounded-2xl: 1rem;
$rounded-3xl: 1.5rem;
$rounded-full: 9999px;

/*==== Typography ====*/
$text-sm: 0.875rem;
$text-sm-line-height: 1.25rem;

$text-base: 1rem;
$text-base-line-height: 1.5rem;

$text-lg: 1.125rem;
$text-lg-line-height: 1.75rem;

$text-2xl: 1.5rem;
$text-2xl-line-height: 2rem;

$text-3xl: 1.875rem;
$text-3xl-line-height: 2.25rem;

$text-4xl: 2.25rem;
$text-4xl-line-height: 2.5rem;

/*==== Grids ====*/
$grid-cols-3: repeat(3, minmax(0, 1fr));
$grid-cols-12: repeat(12, minmax(0, 1fr));
$grid-cols-18: repeat(18, minmax(0, 1fr));

/*==== Grid Template Columns =====*/
$col-span-2: span 2 / span 2;
$col-span-3: span 3 / span 3;
$col-span-8: span 8 / span 8;
$col-span-14: span 14 / span 14;