@use '../components/card';
@use './balance';

main{
    grid-column: span 8 / span 8;
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    overflow-y: auto;
    overscroll-behavior-y: auto;

    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: center;

        .user{
            h1{
                font-size: 1.875rem;
                line-height: 2.25rem;
                font-weight: 600;
            }
        }

        .theme-search{
            display: flex;
            column-gap: .5rem;
            
            .theme-switch{
                position: relative;
                box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

                svg{
                    cursor: pointer;
                    background-color: white;
                    padding: 1rem;
                    object-fit: fill;
                    display: block;
                    border-radius: 9999px;
                }
            }

            svg{
                background-color: white;
                padding: 1rem;
                border-radius: 9999px;
                cursor: pointer;
            }
            svg:hover{
                background-color: #f1f5f9;
            }
        }

    }

    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

        @include balance.balance-css;
    }

}

.search{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    margin-top: 2rem;
    justify-content: center;
}

@media (min-width: 1536px) {
    main{
        grid-column: span 14 / span 14;
    }
}