@use '../components/card';
@use '../components/variables' as var;
@use './balance';
@use './visa';
@use './item-to-buy';
@use './transaction';
@use './analytics';

main{
    grid-column: var.$col-span-8;
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    overflow-y: auto;
    overscroll-behavior-y: auto;

    header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: center;

        .user{
            h1{
                font-size: var.$text-3xl;
                line-height: var.$text-3xl-line-height;
                font-weight: 600;
            }
        }

        .theme-search{
            display: flex;
            column-gap: .5rem;
            
            .theme-switch{
                position: relative;
                box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

                svg{
                    cursor: pointer;
                    background-color: var.$bg-white;
                    padding: 1rem;
                    width: 1rem;
                    object-fit: fill;
                    display: block;
                    border-radius: var.$rounded-full;
                }

                div{
                    position: absolute;
                    top: 4rem;
                    left: -7rem;
                    background-color: var.$bg-white;
                    border-radius: var.$rounded;
                    column-gap: .5rem;
                    display: flex;
                    z-index: 20;

                    svg{
                        cursor: pointer;
                        padding: 1rem;
                        border-radius: var.$rounded;
                        width: fit-content;
                    }
                    svg:hover{
                        background-color: var.$slate-200;
                    }
                }
            }

            svg{
                background-color: var.$bg-white;
                padding: 1rem;
                border-radius: var.$rounded-full;
                cursor: pointer;
            }
            svg:hover{
                background-color: var.$slate-100;
            }
        }

    }

    .content{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;

    }

}

.search{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.hidden{
    display: none !important;
}

@mixin section-lg{
    @include visa.visa-lg;
}

@mixin section-xl{
    @include balance.balance-xl;
    @include visa.visa-xl;
}

@mixin section-2xl{
    main{
        grid-column: var.$col-span-14;
    }

    @include balance.balance-2xl;
    @include item-to-buy.items-2xl;
}

@mixin section-dark{
    h1,span, hr{
        color: var.$bg-white;
    }

    main{
        header{
            .theme-search{
                .theme-switch{
                    svg{
                        background-color: var.$slate-800;
                        color: var.$bg-white;
                    }
                    div{
                        background-color: var.$slate-800;
                        svg:hover{
                            background-color: var.$slate-700;
                        }
                    }
                }
                svg{
                    background-color: var.$slate-800;
                    color: var.$bg-white;
                }
            }
        }
    }

    @include balance.balance-dark;
    @include item-to-buy.items-to-buy-dark;
    @include transaction.transaction-dark;
    @include analytics.analytics-dark;
}