.nav-container{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 6rem;
    min-height: 100vh;
    grid-column-start: 1;
    position: relative;
    background-color: white;
    
    .nav{
        flex-direction: column;
        display: flex;
        height: 100%;
        left: 1.25rem;
        position: fixed;

        .logo-container{
            justify-content: space-between;
            height: 7rem;
            display: flex;
            flex-direction: column;
        }

        .nav-link{
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .bottom-nav-container{
            align-items: center;
            gap: 1rem;
            display: flex;
            flex-direction: column;
        }
    }


    @media (min-width: 1536px) {
        .nav{
            justify-content: space-around;
        }
    }
}